.circleHeader {
    width: 219px;
    height: 219px;
    @apply bg-angy-yellow;
    border-radius: 100%;
    position: absolute;
}
.circleHeader:nth-child(1){
    left: -90px;
    top: -80px;
}
.circleHeader:nth-child(2){
    right: -90px;
    top: -80px;
}